.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
     min-height: 100vh;
}

#current-weather {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#forecast-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#forecast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

#search-history-section {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

#search-history-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#search-history-list li {
    padding: 5px;
    cursor: pointer;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#search-history-list li:hover {
    background-color: #0255d1;
}